/cut_datasets
/datasets
/results
*.jpg
*.tif
*.csv
*.json
Note.md
/pddon
caogao.py
temp_files
temp_results
old_cal
/temp_files
/temp_results
/corrected
/corrected_png
/corrected_DJI_images
*.json
/survey
**/.DS_Store
**/__pycache__
*.pyc
/utils/__pycache__